<p style="color: green"><%= notice %></p>

<h1>Registros</h1>
<h1 <%= @counter >= 0 ? "style= color:green" : "style= color:red" %> >Total <%= @counter %></h1>

<div id="records">
  <% @records.reverse_each do |record| %>
    <div class="list-group">
      <%= render record %>
      <p>
        <%= link_to "Ver Registro", record %>
      </p>
    </div>
  <% end %>
</div>

